<header class="jumbotron" style="padding-bottom: 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h1 class="display-4">Chi(Frank) Zhang</h1>
        <br><br>
        <p> Incoming SWE intern in Google. Enthusiastic about Web Development.<br>
          I am now pursuing master degree of Electrical Engineering(Computer Network) in USC and expect to graduate in
          Dec 2018.<br>
          I am interested Web development and Software development. I'm a person really enthusiastic about coding.<br>
          Here is my leetcode profile: <a target="_blank" href="https://leetcode.com/zc94zc/"><span class="fas fa-link"></span></a>
        </p>
        <address>
          <strong>Address: </strong>
          1302 west 23rd street, Los Angeles, CA<br>
          <strong>Phone: </strong>
          +1 (213)-284-9911<br>
          <strong>Email:</strong>
          <a href="mailto:zhan468@usc.com">zhan468@usc.com</a><br>
          <div style="margin-top: 5px">
            <a target="_blank" href="https://www.linkedin.com/in/chi-frank-zhang-757292120/">
              <span class="fab fa-linkedin fa-3x"></span>
            </a>&nbsp;
            <a target="_blank" href="https://github.com/zcdirk">
              <span class="fab fa-github-square fa-3x"></span>
            </a>
          </div>
        </address>
      </div>
      <div class="col-6 col-md-3">
        <img class="potrait" src="../../assets/pictures/portrait.JPG">
      </div>
    </div>
  </div>
</header>

<main class="container">
  <div class="row flex-xl-nowrap">
    <div class="right-bar">
      <ul class="section-nav">
        <li class="toc-entry"><a href="/cv#education">Education</a></li>
        <li class="toc-entry"><a href="/cv#intern">Internship</a></li>
        <li class="toc-entry"><a href="/cv#projects">Projects</a></li>
        <li class="toc-entry"><a href="/cv#skills">Professional Skills</a></li>
        <li class="toc-entry"><a href="/cv#publications">Publications</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-10" id="education">
      <div class="row">
        <!-- Education -->
        <div class="col-12 col-lg-12">
          <h2>Education</h2>
          <table class="table table-striped">
            <tbody>
            <tr>
              <th style="width: 12%">Time</th>
              <th style="width: 18%">School</th>
              <th style="width: 22%">Major</th>
              <th style="width: 31%">Courses</th>
            </tr>
            <tr>
              <td>Jan.2017 - Dec.2018</td>
              <td>University of Southern California<br>(GPA:4.0/4.0)</td>
              <td>M.S. in Electrical Engineering</td>
              <td>Web Technologies<br>Computer Systems Organization<br>Computer Network<br>Artificial Intelligence<br>Introduction
                to Algorithm
              </td>
            </tr>
            <tr>
              <td>Dec.2015 - May.2016</td>
              <td>Carnegie Mellon University</td>
              <td>Graduation Project in Computer Science Departmen</td>
              <td></td>
            </tr>
            <tr>
              <td>Sep.2012 - Jul.2016</td>
              <td>Tianjin University<br>(GPA:3.47/4.0)</td>
              <td>B.E. in Electronic Information Engineering<br>B.S. in Computer Science (Double Degree)</td>
              <td>Data Structure and Algorithm,<br> Operating System, Database,<br> C++, Visual C++ Programming</td>
            </tr>
            </tbody>
          </table>
          <hr>
        </div>

        <!-- Internship -->
        <div class="col-12 col-lg-12">
          <h2 id="intern">Internship</h2><br>
          <h5>Front End Development Intern in Neusoft (China)</h5>
          <ul>
            <li>Used Angular JS2 to develop a revenue management system for FAW (First Automotive Works), which is used
              by more than 5,000 people now.
            </li>
            <li>Implemented a revenue simulation dashboard based on responsive website design as a key member of the
              development team. Distributed calculation on client side to implement a linkage table. Reduced
              communication overhead and server side load.
            </li>
            <li>
              Finished a part of the backend work, a Maven Project using Spring Framework based on Oracle database.
            </li>
          </ul>
          <br>
          <hr>
        </div>

        <!-- Projects -->
        <div id="projects" class="col-12 col-lg-12">
          <h2>Projects</h2><br>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Travel and Entertainment Search Website</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">May 2018 – April 2018</h6>
                <p class="card-text">
                <li>Used React.js, Node.js and Bootstrap</li>
                <li>Developed a website to search place info and get all the detail information of the place.</li>
                <li>Used APIs of Google Map, Twitter and Yelp, and deployed the website to AWS.</li>
                </p><br><br>
                <a target="_blank" href="http://zctae.us-east-1.elasticbeanstalk.com/ " class="card-link">Webpage
                  address</a>
                <a target="_blank" href="https://github.com/zcdirk/Travel-and-Entertainment-Web" class="card-link">Source
                  Code</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Stock Information Website</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">September 2017 – November 2017</h6>
                <p class="card-text">
                <li>Used Angular 4, Node.js and Bootstrap</li>
                <li>Developed a website to search stock info and show the stock indicators.</li>
                <li>Used APIs of Alpha Vantage and Facebook, and deployed the website to AWS.</li>
                <li>Implemented the same functionality in an Android App, with Java and Android Studio.</li>
                </p>
                <a target="_blank" href="http://zcstock.us-east-1.elasticbeanstalk.com" class="card-link">Webpage
                  address</a>
                <a target="_blank" href="https://github.com/zcdirk/Stock-Information-Website" class="card-link">Source
                  Code</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">O2: A Music Communication Protocol</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">December 2015 - May 2016</h6>
                <p class="card-text">
                <li>Solved problems of intercommunication in local area networks, messages delivery, and clock
                  synchronization.
                </li>
                <li>Used technology of socket programming (TCP and UDP) with different algorithms and data structures
                  applied.
                </li>
                <li>O2 (about 15 us per message) has a better performance than OSC (about 17.5 us per message).</li>
                </p>
                <a target="_blank" href="https://github.com/rbdannenberg/o2" class="card-link">Source Code</a>
                <a target="_blank" href="../../assets/articles/o2-web.pdf" class="card-link">Publication</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Music Composing Program Based on Leap Motion</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">June 2013 - June 2014</h6>
                <p class="card-text">
                <li>Used Leap Motion Development Kit and OpenGL to develop an interactive software as the team leader.
                  With the software, users can act as they are playing the piano and let computer to generate the song.
                </li>
                <li>Wrote a paper about the algorithm of Music Composition with Interaction Device.</li>
                </p><br>
                <a target="_blank" href="https://github.com/zcdirk/LeapMusic" class="card-link">Source Code</a>
                <a target="_blank"
                   href="../../assets/articles/A%20Music%20Performance%20Algorithm%20Based%20on%20Leap%20Motion%20and%20Piano%20Interface.pdf"
                   class="card-link">Publication</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Intelligent Robotic Arm</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">September 2014 - June 2015</h6>
                <p class="card-text">
                <li>Wrote a program to control the robotic arm to catch and move the object on the table.</li>
                <li>The program included camera control, image recognition and arm operation.</li>
                <li>Lead the design of the code, finished the image recognition and arm operation parts’
                  implementation.
                </li>
                </p>
              </div>
            </div>
          </div>
          <hr>
        </div>

        <!-- Professional Skills -->
        <div id="skills" class="col-12 col-lg-12">
          <h2>Professional Skills</h2><br>
          <div class="row">
            <div class="col-6 col-md-3" align="right">
              <b>Programming Language:</b><br><b>Frameworks:</b><br><b>Softwares:</b><br></div>
            <div class="col-6 col-md-9">
              Java, C/C++, Javascript, Visual C, Matlab, SQL, VHDL, Assembly Language<br>AngularJs, AngularJs2<br>Eclipse,
              Xcode, Visual Studio, WebStorm<br></div>
          </div>
          <br>
          <hr>
        </div>

        <!-- Publications -->
        <div id="publications" class="col-12 col-lg-12">
          <h2>
            Publications
          </h2><br>
          <ol>
            <li><a target="_blank"
                   href="../../assets/articles/A%20Music%20Performance%20Algorithm%20Based%20on%20Leap%20Motion%20and%20Piano%20Interface.pdf">Chi
              Z, Mingzhen F, Mingkun D, Di A, Qi J, Xin G. A Music Performance Algorithm Based on Leap Motion and Piano
              Interface[C]//International Conference on Frontiers of Manufacturing Science and Measuring Technology.
              2015: 1193</a></li>
            <li><a target="_blank" href="../../assets/articles/o2-web.pdf">Dannenberg R
              B, Chi Z. O2: Rethinking Open Sound Control[C]//Proceedings of the International Computer Music
              Conference. 2016: 494.</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>
